<div>
  <h2><span>Exercices</span> :</h2>
  <ul>
    <li>
      <a aria-current="nesting" routerLink="/nesting">Nesting</a>
    </li>
    <li>
      <a aria-current="interpolation" routerLink="/interpolation"
        >Interpolation</a
      >
    </li>
    <li>
      <a aria-current="data-binding" routerLink="/data-binding">Databinding</a>
    </li>
    <li>
      <a aria-current="directives" routerLink="/directives">TP Directives</a>
    </li>
    <li>
      <a aria-current="blog" routerLink="/blog">Blog</a>
    </li>
    <li>
      <a aria-current="api" routerLink="/api">Test API</a>
    </li>
    <li>
      <a aria-current="firebase" routerLink="/firebase">Firebase</a>
    </li>
  </ul>
</div>
