<h1>List friends (interpolation)</h1>
<button [disabled]="isDisabled">
  {{ isDisabled ? "Clique pas" : "Clique" }}
</button>
<hr />

<h2>
  {{ PeopleService.friends.length }} ami{{
    PeopleService.friends.length > 0 ? "s" : ""
  }}
  🤝
</h2>
<input type="text" [(ngModel)]="textInput" />
<br />
<p *ngIf="newlyAddedFriend.length === 0; else newFriend">
  Vous avez {{ PeopleService.friends.length }} ami{{
    PeopleService.friends.length > 1 ? "s" : ""
  }}
</p>
<ng-template #newFriend>Vous avez ajouté {{ newlyAddedFriend }}</ng-template>
<br />
<button [disabled]="!textInput" (click)="handleClick()">
  {{ isClicked ? "Ami ajouté !" : "Aucun ami" }}
</button>

<div>
  <article *ngFor="let friend of PeopleService.friends">
    <app-one-friend [friend]="friend"></app-one-friend>
  </article>
</div>
